.section-reset_password-done {
    height: 100vh;
    &-wrapper {
        height: 100vh;
        position: relative;
        &__navbar {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            &__toolApp_logo {
                background: url('../media/index_images/Applogo.png');
                background-repeat: no-repeat;
                background-size: contain;
                width: 160px;
                height: 45px;
                margin-left: 15px;
                @include media('>=LGdesktop') {
                    width: 195px;
                    height: 65px;
                }
            }
        }
        &__content_box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 90%;
            .passwordResetHeader {
                color: #000;
                font-weight: 800;
                font-family: 'Montserrat Alternates';
                letter-spacing: 0.1px;
                font-size: 40px;
            }
            .passwordResetText {
                font-family: 'Montserrat Alternates';
                letter-spacing: 0.2px;
                font-size: 17px;
                max-width: 80%;
                text-align: center;
                padding: 10px 0;
                line-height: 23px;
            }
        }
    }
}