.section-reset_password-confirm {
    height: 100vh;
    &-wrapper {
        height: 100vh;
        position: relative;
        &__navbar {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            &__toolApp_logo {
                background: url('../media/index_images/Applogo.png');
                background-repeat: no-repeat;
                background-size: contain;
                width: 160px;
                height: 45px;
                margin-left: 15px;
                @include media('>=LGdesktop') {
                    width: 195px;
                    height: 65px;
                }
            }
        }
        &__content-box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            .title {
                h1 {
                    color: #000;
                    font-weight: 700;
                    font-family: 'Montserrat Alternates';
                    letter-spacing: 0.1px;
                    font-size: 30px;
                    @include media('>=LGdesktop') {
                        font-size: 37px;
                    }
                }
            }
            .set_newpassword {
                padding: 15px 0;
                width: 550px;
                @include media('>=LGdesktop') {
                    width: 700px;
                }
                .newpassword1_text {
                    color: #000;
                    font-weight: 600;
                    font-family: 'Montserrat Alternates';
                    letter-spacing: 0.2px;
                    font-size: 13px;
                    padding-bottom: 3px;
                    @include media('>=LGdesktop') {
                        font-size: 16px;
                    }
                }
                .new_password1_field {
                    border: 1px solid #c5c5c5;
                    border-radius: 10px;
                    padding: 6px 12px;
                    width: 500px;
                    font-family: 'Montserrat Alternates';
                    margin-top: 5px;
                    text-indent: 4px;
                    font-weight: 500;
                    color: #454545;
                    font-size: 13px;
                    background: transparent;
                    transition: border-color 0.3s ease-in;
                    @include media('>=LGdesktop') {
                        padding: 9px 12px;
                        width: 700px;
                        font-size: 17px;
                    }
                    &:focus {
                        border: 1px solid #454545;
                    }
                }
                .newpassword2_text {
                    color: #000;
                    font-weight: 600;
                    font-family: 'Montserrat Alternates';
                    letter-spacing: 0.2px;
                    font-size: 13px;
                    margin-top: 20px;
                    padding-bottom: 3px;
                    @include media('>=LGdesktop') {
                        font-size: 16px;
                    }
                }
                .new_password2_field {
                    border: 1px solid #c5c5c5;
                    border-radius: 10px;
                    padding: 6px 12px;
                    width: 500px;
                    font-family: 'Montserrat Alternates';
                    margin-top: 5px;
                    text-indent: 4px;
                    font-weight: 500;
                    color: #454545;
                    font-size: 13px;
                    background: transparent;
                    transition: border-color 0.3s ease-in;
                    @include media('>=LGdesktop') {
                        padding: 9px 12px;
                        width: 700px;
                        font-size: 17px;
                    }
                    &:focus {
                        border: 1px solid #454545;
                    }
                }
                .btn {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                }
                .btn_set_newpassword {
                    background-color: #4BCE1C;
                    color: #fff;
                    font-family: 'Montserrat Alternates';
                    font-size: 14px;
                    border-radius: 50px;
                    padding: 8px 12px;
                    width: 200px;
                    border: none;
                    margin-top: 30px;
                    transition: background-color 0.4s ease-in-out;
                    @include media('>=LGdesktop') {
                        padding: 12px 12px;
                        width: 250px;
                        font-size: 16px;
                    }
                    &:hover {
                        background-color: #20a324;
                    }
                }
            }
        }
    }
}