{% extends "base.html" %}

{% block title %}Verification{% endblock title %}

{% block content %}
    <div class="section-email_verification-complete__invalid">
        <div class="section-email_verification-complete__invalid-wrapper">
            <div class="section-email_verification-complete__invalid-wrapper-navbar">
                    <div class="section-email_verification-complete__invalid-wrapper-navbar__toolsApp_logo"></div>
            </div>
            <div class="section-email_verification-complete__invalid-wrapper-content_box">
                <h1 class="invalid_link__text">Oops!!</h1>
                <h1 class="invalid_link__text">This link is invalid or already used</h1>
                <a class="linktohomepage" href="/">HomePage</a>
            </div>
        </div>
    </div>
{% endblock %}