{% extends 'base.html' %}

{% block style %}
<style>
    .main {
        height: 490px;
        position: relative;
        text-align: center;
        margin-top: 40px;
    }
    .ToolApp_text-h1 {
        font-family: 'Montserrat Alternates', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 42px;
        text-align: center;
        color: #000000;
    }
    .ToolApp_text-span {
        font-family: 'Montserrat Alternates', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 19px;
        text-align: center;
        color: #4BCE1C;
    }
    .table {
        margin-left: auto; 
        margin-right: auto;
    }
    .header {
        height: 50px;
    }
    .body {
        height: 50px;
        width: 450px;
    }
    .btn {
        height: 50px;
    }
    .header_text {
        font-family: 'Montserrat Alternates', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 34px;
        color: #000;
    }
    .text {
        font-family: 'Montserrat Alternates', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 19px;
        color: rgb(71, 71, 71);
        line-height: 25px;
    }
    .button_reset {
        text-decoration: none;
        color: white;
        width: 250px;
        height: 50px;
        background-color: #4BCE1C;
        border-radius: 77px;
        padding: 0.9rem 5rem;
        font-family: 'Montserrat Alternates', sans-serif;
        font-style: normal;
        font-weight: bold;
    }
    .footer {
        height: 150px;
    }
    .text_footer {
        display: block;
        font-family: 'Montserrat Alternates', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        color: #000000;
    }
    .text_footer_bold {
        display: block;
        font-family: 'Montserrat Alternates', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        color: #000000;
    }
</style>
{% endblock %}
{% block content %}
<div class="main">
    <h1 class="ToolApp_text-h1">Tools<span class="ToolApp_text-span">app</span></h1>
    <table class="table">
        <thead>
            <tr>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="header">
                    <h1 class="header_text">Password reset letter</h1>
                </td>
            </tr>
            <tr>
                <td class="body">
                    <p class="text">To reset your password for ToolsApp, click on the button below and follow the instructions</p>
                </td>
            </tr>
            <tr>
                <td class="btn">
                    <a class="button_reset" href="{{protocol}}://{{domain}}/auth/reset/{{uid}}/{{token}}">Reset</a>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td class="footer">
                    <span class="text_footer">Thank you for using our service.</span>
                    <b class="text_footer_bold">2022, ToolsApp team</b>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
{% endblock %}