{% extends 'base.html' %}

{% block title %}Reset Password{% endblock title %}

{% block content %}
    <div class="section-reset_password-done">
        <div class="section-reset_password-done-wrapper">
            <div class="section-reset_password-done-wrapper__navbar">
                <a href="/" class="section-reset_password-done-wrapper__navbar__toolApp_logo"></a>
            </div>
            <div class="section-reset_password-done-wrapper__content_box">
                <h1 class="passwordResetHeader">Password Reset</h1>
                <p class="passwordResetText">
                    We`ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
                    If you don`t receive an email, please make sure you`ve entered the address you registered with, and check your spam folder.
                </p>
            </div>
        </div>
    </div>
{% endblock %}