{% extends 'base.html' %}

{% block title %}Reset Password{% endblock title %}

{% block content %}
<div class="section-reset_password-confirm">
    <div class="section-reset_password-confirm-wrapper">
        <div class="section-reset_password-confirm-wrapper__navbar">
            <a href="/" class="section-reset_password-confirm-wrapper__navbar__toolApp_logo"></a>
        </div>
        <div class="section-reset_password-confirm-wrapper__content-box">
            <div class="title">
                <h1>Enter Your new Password</h1>
            </div>
            <form class="set_newpassword" action="" method="post">
                {% csrf_token %}

                <h5 class="newpassword1_text">New Password</h5>
                {{ form.new_password1 }}
                <h5 class="newpassword2_text">Confirm new Password</h5>
                {{ form.new_password2 }}

                <div class="btn">
                    <button class="btn_set_newpassword" type="submit">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    let p1 = document.getElementById("id_new_password1").classList.toggle('new_password1_field');
    let p2 = document.getElementById("id_new_password2").classList.toggle('new_password2_field');

    document.getElementById("id_new_password1").maxLength = "35"
    document.getElementById("id_new_password2").maxLength = "35"
</script>
{% endblock %}