{% extends 'base.html' %}

{% block title %}Reset Password{% endblock title %}

{% block content %}
<div class="section-reset_password-complete">
    <div class="section-reset_password-complete-wrapper">
        <div class="section-reset_password-complete-wrapper__navbar">
            <div class="section-reset_password-complete-wrapper__navbar__toolApp_logo"></div>
        </div>
        <div class="section-reset_password-complete-wrapper__content-box">
            <div class="title">
                <h1>Congratulations! Your password has been set.</h1>
            </div>
            <div class="subtitle">
                <p>You may go ahead and log in now. <a class="linktologin" href="/auth/login">Log In</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}